:root {
	--default-green: #1db954;
	--light-green: #1ed760;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", sans-serif;
}
/* Utility Classes */
.btn-primary {
	background: var(--default-green);
	color: white;
	text-transform: uppercase;
	padding: 15px 60px;
	border: none;
	border-radius: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	transition: all 300ms ease;
}
.btn-primary:hover {
	background: var(--light-green);
	cursor: pointer;
	transform: scale(1.07);
}
.logo1 {
	display: none;
}
.logo {
	height: 40px;
	width: auto;
}
/* NavBar */
#navbar {
	display: flex;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	justify-content: center;
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
}
#navbar .navbar-container {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}
#navbar .navbar-container ul {
	display: flex;
	list-style: none;
	font-weight: bold;
}
#navbar .navbar-container ul li {
	padding: 0 20px;
}
#navbar .navbar-container ul li:hover {
	color: #1db954;
	cursor: pointer;
	transition: all 300ms ease;
	transform: scale(1.07);
}
#navbar .navbar-container ul li:nth-child(3) {
	border-right: white 1px solid;
}
#showcase {
	height: 100vh;
	display: flex;
	position: relative;
	z-index: 0;
	justify-content: center;
	align-items: center;
	color: white;
	background: url("imagens/green-temp.jpg") center center/cover;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: color;
}
#showcase .showcase-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
#showcase .showcase-container h2 {
	font-size: 7vw;
	height: auto;
}
#showcase .showcase-container p {
	margin: 15px 0;
	font-size: 1.1rem;
}
/* aside */
.sidebar-toggle { 
    transform: scale(2);
    background: transparent;
    color: white;
    transition: all 0.3s linear;
    cursor: pointer;
	z-index: 0;
	position: relative;
	background: transparent;
    border-color: transparent;
}
.sidebar-toggle:hover {
    color: hsl(39, 94%, 54%);  
	z-index: 10;
	position: relative;
}
.container-button {
	width: 1.7vw;
	height: 3.7vh;
	display: flex;
	justify-content: center;
	align-self: start;
	position: relative;
	margin-top: 20px;
	margin-left: 300px;
}
.close-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    color: white;
    position: relative;
	margin-right: 10px;
}
.close-btn:hover {
    transform: rotate(-360deg);
}
.sidebar {
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background: black;
    display: grid;
    grid-template-rows: auto 1fr auto;
    transition: all 0.3s linear;
    transform: translate(110%);
    position: fixed;
    z-index: 10;
}
.show-sidebar {
    transform: translate(0);
    z-index: 20;
    position: fixed;
}
.sidebar-header {
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 20;
    position: relative;
}
.style-font {
	font-weight: 100;
	font-size: 1.6rem !important;
}
.links a {
    display: block;
    font-size: 2.2rem;
    text-transform: capitalize;
    padding-left: 1rem;
    color: white;
	text-decoration: none;
}
.links li  {
	list-style: none;
	text-decoration-style: none;
	font-weight: 900;
	padding: 0.5rem;
}
.links a:hover {
    color: #1db954;
}
/* footer */
#footer {
	background: black;
	color: white;
	padding: 80px 0px;
	z-index: 0;
	position: relative;
}
#footer .footer-content {
	display: flex;
	width: 60%;
	margin: auto;
	justify-content: center;	
}
#footer .footer-content .footer-menu {
	margin: 0 60px;
	list-style: none;
}
#footer .footer-content .footer-menu .footer-menu-item {
	margin: 25px 0;
	transition: all 300ms ease;
}
#footer .footer-content .footer-menu .footer-menu-item:hover {
	color: var(--default-green);
	cursor: pointer;
	transform: scale(1.07);
}
#footer .footer-content .footer-menu p {
	font-weight: bold;
	text-transform: uppercase;
	color: #919496;
	font-size: 0.8rem;
}
/* Footer Socials */
.socials {
	display: flex;
}
.socials1 {
	display: none;
}
.socials i {
	margin: 0 20px;
	font-size: 1.7rem;
	transition: all 300ms ease;
}
.socials i:hover {
	color: var(--default-green);
	cursor: pointer;
	transform: scale(1.07);
}
/* Footer Info */
.footer-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 60%;
	margin: auto;
	font-weight: bold;
	color: #919496;
	font-size: 0.75rem;
	padding-top: 30px;
}
.footer-info .footer-info-items {
	display: flex;
	list-style: none;
}
.footer-info .footer-info-items .footer-info-item {
	margin: 0 10px;
	transition: all 300ms ease;
}
.footer-info .footer-info-items .footer-info-item:hover {
	color: var(--default-green);
	cursor: pointer;
}
.footer-info .rights .country {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}
.footer-info .rights .country p {
	transition: all 300ms ease;
}
.footer-info .rights .country p:hover {
	color: var(--default-green);
	cursor: pointer;
}
.footer-info .rights .country .brazil-flag {
	height: 20px;
	width: auto;
	display: inline-block;
	margin-left: 10px;
}

@media screen and (max-width: 950px) {
	.sidebar-toggle {
        transform: scale(1);
    }
	#footer {
		padding: 0px 0px;
	}
	.socials i {
		display: none;
	}
	.socials1 {
		display: inline-block;
		margin-left: 70px;
		margin-top: 150px;
	}
	.socials1 i {
		margin: 0 10px;
		font-size: 1.7rem;
		transition: all 300ms ease;
	}
	.socials1 i:hover {
		color: var(--default-green);
		cursor: pointer;
		transform: scale(1.07);
	}
	.logo1 {
		height: 27px;
		width: auto;
		margin-top: 50px;
		display: block;
	}
	.logo2 {
		display: flex;
		padding-left: 87px;
		padding-right: 15px;
		justify-content: start;
	}
	.logo {
		display: none;
	}
	#footer .footer-content {
		display: flex;
		width: 100%;
		margin: 0 auto;
		justify-content: center;
	}
	#footer .footer-content .footer-menu {
		margin: 0 auto;
		margin-top: 50px;
	}
	#footer .footer-content .footer-menu .footer-menu-item {
		margin: 25px 0;
	}
	.footer-info {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		font-weight: bold;
		color: #919496;
		font-size: 0.75rem;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer-info .footer-info-items {
		display: flex;
	}
}
@media screen and (max-width: 820px) {
	#footer {
		padding: 15px;
	}
	.socials1 {
		display: inline-block;
		margin-left: 10px;
		margin-top: 150px;
	}
	.socials1 i {
		margin: 0 10px;
		font-size: 1.7rem;
		transition: all 300ms ease;
	}
	.logo1 {
		height: 27px;
		margin-top: 30px;
	}
	.logo2 {
		padding-left: 0px;
		padding-right: 0px;
		justify-content: start;
	}
	#footer .footer-content {
		display: inline-table;
	}
	.footer-info {
		justify-content: space-between;
		font-size: 0.75rem;
	}
	#footer .footer-content .footer-menu .footer-menu-item:hover {
		transform: scale(0.99);
	}
}
  @media screen and (min-width: 800px) {
	.nav-center {
	  max-width: 1170px;
	  margin: 0 auto;
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  padding: 1rem;
	}
	.nav-header {
	  padding: 0;
	}
}
